html, body, div, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

body {
    background: #00BCD4;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    color: #fff;
    font-size: 45px;
    text-align: center;
    margin-top: 2%;
}

.agile-its {
    width: 50%;
    margin: 2% auto;
    background: #fff;
}

h2 {
    color: #fff;
    background: #f3c500;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
}

.print {
    padding: 30px 50px;
}

.tips {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    line-height: 1.8em;
}

.warn {
    text-align: center;
    color: greenyellow;
}

#messages {
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
}

.header {
    padding: 5px;
    color: #FFF;
    font-size: 15px;
    color: floralwhite;
    background: rgba(233, 30, 99, 0.6);
}

.listtype li {
    font-weight: 800;
    display: inline-block;
    margin-left: .5em;
}

.agileinfo {
    position: relative;
}

input[type="file"] {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 8px 5px;
    opacity: 0;
    cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    width: 93.5%;
    padding: 14px;
    border: 1px solid #7d7d7d;
    outline: none;
    font-size: 24px;
    margin-bottom: 20px;
    border-radius: 25px;
    text-align: center;
}

button {
    font-size: 24px;
    background: #41b174;
    padding: 13px 0;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    width: 100%;
    border: none;
    margin-top: 25px;
    border-radius: 25px;
}

    button[disabled] {
        cursor: not-allowed;
        background: gray;
    }

h3 {
    text-align: center;
    margin-top: 10px;
}

.inputbox {
    font-size: 1.5em;
    text-align: center;
}

#copies::after {
    content: "(份)";
    float: right;
    z-index: 100;
    position: absolute;
    top: 13.5px;
    right: 2em;
    color: gray;
}

#filedrag {
    display: none;
    font-weight: 600;
    text-align: center;
    padding: 25px 0;
    margin: 25px 0;
    color: #f3c500;
    border: 2px dashed #f3c500;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    cursor: default;
    font-size: 20px;
}

    #filedrag p {
        text-align: left;
        padding-left: 2em;
    }

    #filedrag .hover,
    #filedrag:hover {
        color: #f00;
        border-color: #f00;
        border-style: solid;
        box-shadow: inset 0 3px 4px #888;
    }

input[type="submit"] {
    width: 54%;
    background: #00BCD4;
    border: none;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-left: 23%;
}

footer {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: sans-serif;
}

    footer strong {
        font-size: 1.4em;
    }

    footer a {
        color: #fff;
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: underline;
        }

@media screen and (max-width: 1280px) {
    .listtype li {
        display: block;
    }
}

@media screen and (max-width: 1080px) {
    .print {
        padding: 37px;
    }
}

@media screen and (max-width: 1024px) {
    .agile-its {
        width: 60%;
    }
}

@media screen and (max-width: 991px) {
    .agile-its {
        width: 65%;
    }
}

@media screen and (max-width: 900px) {
    .agile-its {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 40px;
    }

    .agile-its {
        width: 75%;
    }
}

@media screen and (max-width: 736px) {
    .print {
        padding: 30px;
    }

    .agile-its {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    .agile-its {
        width: 85%;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 37px;
    }

    .agile-its {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .agile-its {
        width: 95%;
    }

    .footer p {
        width: 90%;
        margin: 0 auto 20px auto;
    }
}

@media screen and (max-width: 414px) {
    h1 {
        font-size: 33px;
    }

    .agile-its {
        width: 100%;
    }

    .print {
        padding: 25px;
    }

    .footer p {
        font-size: 13px;
    }
}

@media screen and (max-width: 384px) {
    h1 {
        font-size: 30px;
    }

    .print {
        padding: 22px;
    }
}

@media screen and (max-width: 375px) {
    .agile-its {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 28px;
        margin-top: 30px;
    }

    h2 {
        font-size: 17px;
    }

    .print {
        padding: 15px;
    }

    #filedrag {
        font-size: 16px;
        padding: 16px 0px;
    }
}
