<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="password" value="打印密码，空密码则免密码打印"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600"/>
  </system.web>
</configuration>